<section class="sidebar">
    <div class="list">
        <h2>
            <%- type === 'api' ? 'API' : (type.charAt(0).toUpperCase() + type.slice(1)) %>
            <select class="version-select">
                <option selected>3.x</option>
                <option>2.x</option>
                <option>1.x</option>
            </select>
        </h2>
        <ul class="menu-root">
            <% type !== 'api' && site.pages.find({type: type}).sort('order').each(function (p) { %>
                <li>
                    <a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</section>
